# Ignore MPU3232 Entrepreneurship Lecture Notes
MPU3232 Entrepreneurship/Lecture Notes/

# Ignore MPU3133 Falsafah Dan Isu Semasa Lecture Notes
MPU3133 Falsafah Dan Isu Semasa/Lecture Notes/

# Ignore BMMS2633 Advanced Discrete Mathematics Lecture Notes
BMMS2633 Advanced Discrete Mathematics/Lecture Notes/

# Ignore BHLA2313 Music Appreciation New lecture slides
BHLA2313 Music Appreciation/New lecture slides/
BHLA2313 Music Appreciation/Old lecture slides/

# Ignore BAMS1613 Probability and Statistics Lecture Notes
BAMS1613 Probability and Statistics/Lecture Notes/

# Ignore BAIT2113 Web Application Development Lecture Notes
BAIT2113 Web Application Development/Lecture Notes/

# Ignore BACS2083 Formal Methods For Software Engineering Lecture Notes
BACS2083 Formal Methods For Software Engineering/Lecture Notes/

# Ignore BACS2033 Software Requirements Engineering Lecture Notes
BACS2033 Software Requirements Engineering/Lecture Notes/

# Ignore BACS2023 Object-Oriented Programming JAVA Lecture Notes
BACS2023 Object-Oriented Programming/JAVA Lecture Notes/

# Ignore BACS2003 Artificial Intelligence AI Lecture Notes
BACS2003 Artificial Intelligence/AI Lecture Notes/

# Ignore BACS1053 Database Management SQL Lecture Notes
BACS1053 Database Management/SQL Lecture Notes/
